# Output and Live Data
world_state.json
world_state_temp.json
Exports/
plots/

# Build folders
[Bb]in/
[Oo]bj/
.vscode/
.venv/

# Build artifacts
bin/
obj/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vscode/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
packages/
*.nupkg
*.snupkg

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Others
*.cache
*.log
*.vsidx
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc